<div class="portfolio-new">
  <%= form_with(model: @portfolio_items, local: true) do |form| %>
    <% if @portfolio_items.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@portfolio_items.errors.count, "error") %> prohibited this @portfolio_items from being saved:</h2>
        <ul>
          <% @portfolio_items.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :title %>
          <%= form.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :subtitle %>
          <%= form.text_field :subtitle, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :body %>
          <%= form.text_area :body, class: "form-control", rows: 13 %>
        </div>
      </div>
      <div class="col-md-12">
        <hr>
        <div>
          <h1>technologies used</h1>
          <%= form.fields_for :technologies do |tech_form| %>
            <div>
              <%= tech_form.label :name %>
              <%= tech_form.text_field :name, class: "form-control" %>
            </div>
          <% end %>
        </div>
        <hr>
        <div class="form-group">
          <%= form.submit 'Save Portfolio item', class: 'btn btn-primary btn-block' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
