<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
  </head>
  <body>
    <%= render "shared/portfolio_header"%>
    <%= render "shared/portfolio_section" unless logged_in?(:site_admin)%>
    <%= yield %>
    <%= render "shared/portfolio_footer"%>
    <%= session_helper %>
  </body>
</html>
